@value breakpoints: "./breakpoint.css";
@value largest from breakpoints;

/** Universal Reset **/
:root {
  --black: #000000;
  --grey: #665945;
  --purple-dark: #a015f8;
  --purple-light: #cc38ee;
  --blue: #5b0fe9;
  --pink-dark: #f160ec;
  --pink-light: #f790dd;
  --white: #f9f3f9;
  --yellow: #f1ff18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: largest) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000;
  background: linear-gradient(var(--purple-dark), var(--pink-light));
  background-repeat: no-repeat;
}
