/** Universal Reset **/
:root {
--black: #000000;
--purple-dark:#A015F8;
--purple-light:#CC38EE;
--blue:#5B0FE9;
--pink-dark:#F160EC;
--pink-light:#F790DD;
--white: #F9F3F9;
--yellow: #F1FF18;
font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000;
  background:linear-gradient(var(--purple-dark),var(--pink-light));
  background-repeat: no-repeat;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}
