.Hero {
  background: var(--white);
  padding: 80px 10px;
  position: relative;
  z-index: 10;
}

.Avatar {
  margin-top: 2.5rem;
  border-radius: 50%;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.3);
}

.Introduction {
  margin-top: 2rem;
}

.Hi {
  font-size: 3.2rem;
  color: var(--grey);
  font-style: italic;
}

.WhoAmI {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  max-width: 700px;
  margin: 0 auto;
}

.Introduction button {
  text-transform: uppercase;
}

.Introduction button:last-child {
  margin-left: 3rem;
}

.Section1 {
  position: relative;
  z-index: 0;
  height: 500px;
  background: url("../../assets/images/section-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 6rem;
  color: var(--white);
  border: none;
}

.Section1 h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.Technologies {
  position: relative;
  top: -25rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.Card {
  width: 30%;
  padding: 2rem;
  box-sizing: border-box;
  background: var(--white);
  text-align: center;
}
