@value breakpoints: "./breakpoint.css";
@value largest, small, medium from breakpoints;

.Layout {
  padding: 20px;
  background-image: url(../../assets/images/bg.svg);
  background-size: 500px;
  background-repeat: repeat;
  font-size: 1.8rem;
}

@media only screen and (max-width: small) {
  .Layout {
    padding: 5px;
  }
}
